.homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePageContainer > h1 {
    font-family: sans-serif;
}

.recipesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.singleRecipeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-color: rgb(20, 74, 149);
    padding: 16px;
}

.saveAndDeleteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ingredientsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

