.authPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authPageContainer > h1 {
    font-family: fantasy;
}

.formContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px
}

.passwordAndResetContainer {
    display:flex;
    justify-content: center;
    align-items: center;
}

