.savedRecipesPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.savedRecipesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singleRecipeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singleRecipeContainer > p {
    text-align: center;
}

.ingredientsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

