.navbarComponentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #739dca;
}

.navbarList > li {
    float:left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.navbarList > li :hover {
    background-color: #69a478;
}
