.createRecipePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-style: dashed;
    border-color: rgb(20, 74, 149);
}

.createFormContainer > input, textarea{
    text-align: center;
}